th, td {
  vertical-align: middle !important;
  text-align: center !important;
}

.text-danger {
  font-size: 12px;
  color: red;
}

.btn-group {
  min-width: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.btn {
  width: auto;
  max-width: fit-content;
}

.alert-success {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 18px;
  line-height: 1;
  color: inherit;
  cursor: pointer;
}

/* Highlight Classes */
.highlight-top {
  background-color: #d4edda !important; // Green
}

.highlight-average {
  background-color: #fff3cd !important; // Yellow
}

.highlight-low {
  background-color: #f8d7da !important; // Red
}
