<div>
  <button class="btn btn-primary" (click)="openVerticallyCentered(assessmentsModal)">
    <i class="pi pi-list white"></i>
  </button>
</div>

<ng-template #assessmentsModal let-modal>
  <div class="modal-header d-flex justify-content-between">
    <h4 class="modal-title">Assessments : {{ value }}</h4>
    <i class="pi pi-times pointer" (click)="close()"></i>
  </div>
  <div class="modal-body">
    <angular2-smart-table
      [settings]="settings"
      [source]="assessments"
      (editConfirm)="updateAssessment($event)"
      (deleteConfirm)="deleteAssessment($event)">
    </angular2-smart-table>
  </div>
</ng-template>
