<body class="c71 doc-content">
<p style="text-align:center;">
    <img th:src="${logoUrl}" style="max-width: 100%; height: auto;">
</p>
<p class="c73 c75"><span class="c9 c8 c61">Course Assessment Report</span></p>
<p class="c1 c2"><span class="c34 c8"></span></p>
<table class="c18">
    <tr class="c54">
        <td class="c35" colspan="1" rowspan="1">
            <p class="c7"><span class="c0 c8">Instructor</span></p>
        </td>
        <td class="c59 c67" colspan="1" rowspan="1">
            <p class="c28"><span class="c0 c8">Office</span></p>
        </td>
        <td class="c72 c67" colspan="1" rowspan="1">
            <p class="c28"><span class="c0 c8">Phone</span></p>
        </td>
        <td class="c42" colspan="1" rowspan="1">
            <p class="c28 c49"><span class="c0 c8">Email</span></p>
        </td>
        <td class="c48 c67" colspan="1" rowspan="1">
            <p class="c28 c39"><span class="c0 c8">Semester-Year</span></p>
        </td>
    </tr>
    <tr class="c53">
        <td class="c79" colspan="1" rowspan="1">
            <p class="c28"><span class="c3" th:text="${instructorName}">Name</span></p>
        </td>
        <td class="c59" colspan="1" rowspan="1">
            <p class="c28"><span class="c3" th:text="${office}">Office</span></p>
        </td>
        <td class="c72" colspan="1" rowspan="1">
            <p class="c1"><span class="c24 c8" th:text="${phone}">Phone</span></p>
        </td>
        <td class="c80" colspan="1" rowspan="1">
            <p class="c28 c49"><span class="c3" th:text="${email}">Email</span></p>
        </td>
        <td class="c48" colspan="1" rowspan="1">
            <p class="c28 c50"><span class="c3" th:text="${semesterYear}">Semester</span></p>
        </td>
    </tr>
</table>
<p class="c1 c2"><span class="c37"></span></p>
<p class="c1 c2"><span class="c37"></span></p>
<p class="c1 c2"><span class="c37"></span></p>
<table class="c18">
    <tr class="c54">
        <td class="c33" colspan="1" rowspan="1">
            <p class="c1"><span class="c0">Course Code:</span></p>
        </td>
        <td class="c55" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3" th:text="${courseCode}"></span></p>
        </td>
        <td class="c33" colspan="1" rowspan="1">
            <p class="c1"><span class="c0">Course title:</span></p>
        </td>
        <td class="c69" colspan="5" rowspan="1">
            <p class="c1 c2"><span class="c3" th:text="${courseTitle}"></span></p>
        </td>
    </tr>
    <tr class="c84">
        <td class="c33" colspan="1" rowspan="1">
            <p class="c1"><span class="c0">Undergraduate:</span></p>
        </td>
        <td class="c55" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3" th:text="${undergraduate}"></span></p>
        </td>
        <td class="c33" colspan="1" rowspan="1">
            <p class="c1"><span class="c0">Enrollment:</span></p>
        </td>
        <td class="c14" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3" th:text="${enrollment}"></span></p>
        </td>
        <td class="c36" colspan="1" rowspan="1">
            <p class="c1"><span class="c0">Semester Code:</span></p>
        </td>
        <td class="c76" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3" th:text="${semesterCode}"></span></p>
        </td>
        <td class="c15" colspan="1" rowspan="1">
            <p class="c1"><span class="c0">Credits:</span></p>
        </td>
        <td class="c22" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3" th:text="${credits}"></span></p>
        </td>
    </tr>
    <tr class="c21">
        <td class="c33" colspan="1" rowspan="1">
            <p class="c1"><span class="c0">Graduate:</span></p>
        </td>
        <td class="c55" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3" th:text="${graduate}"></span></p>
        </td>
        <td class="c33" colspan="1" rowspan="1">
            <p class="c1"><span class="c0">Withdrawals:</span></p>
        </td>
        <td class="c14" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3" th:text="${withdrawals}"></span></p>
        </td>
        <td class="c36" colspan="1" rowspan="1">
            <p class="c1"><span class="c0">Class GPA: </span></p>
        </td>
        <td class="c41" colspan="3" rowspan="1">
            <p class="c1 c2"><span class="c3" th:text="${classGpa}"></span></p>
        </td>
    </tr>
    <tr class="c21">
        <td class="c33" colspan="1" rowspan="1">
            <p class="c1"><span class="c0">Prerequisites:</span></p>
        </td>
        <td class="c55" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3" th:text="${prerequisites}"></span></p>
        </td>
        <td class="c33" colspan="1" rowspan="1">
            <p class="c1"><span class="c0">Co-requisites:</span></p>
        </td>
        <td class="c14" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3" th:text="${corequisites}"></span></p>
        </td>
        <td class="c36" colspan="1" rowspan="1">
            <p class="c1"><span class="c0">Innovation Journey Course</span></p>
        </td>
        <td class="c41" colspan="3" rowspan="1">
            <p class="c1 c2"><span class="c3" th:text="${innovationJourneyCourse}"></span></p>
        </td>
    </tr>
</table>
<p class="c1 c2"><span class="c40"></span></p>
<p class="c1 c2"><span class="c34 c8"></span></p>
<ol class="c20 lst-kix_list_6-0 start" start="1">
    <li class="c17 li-bullet-0"><span class="c9 c47 c8">Summary of Student Feedback</span></li>
</ol>
<p class="c1 c2"><span class="c24 c8"></span></p>
<ol class="c20 lst-kix_list_8-0 start" start="9">
    <li class="c31 li-bullet-0"><span class="c3">Feedback on the Course: </span></li>
</ol>
<ul class="c20 lst-kix_list_11-0 start">
    <li class="c31 li-bullet-0"><span class="c4">Please add a brief synopsis of the results of the student feedback here. </span></li>
    <li class="c31 li-bullet-0"><span class="c4">Please submit the actual responses received from students from the SRATE survey.</span></li>
</ul>
<p class="c1 c2"><span class="c34 c8"></span></p>
<p class="c1 c2"><span class="c34 c8"></span></p>
<ol class="c20 lst-kix_list_9-0 start" start="2">
    <li class="c31 li-bullet-0"><span class="c3">Feedback on the Instruction: </span></li>
</ol>
<ul class="c20 lst-kix_list_1-0 start">
    <li class="c31 li-bullet-0"><span class="c4">Please add a brief synopsis of the results of the student feedback here. </span></li>
    <li class="c31 li-bullet-0"><span class="c4">Please submit the actual responses from the SRATE survey.</span></li>
</ul>
<p class="c1 c2"><span class="c24 c8"></span></p>
<ol class="c20 lst-kix_list_6-0" start="2">
    <li class="c17 li-bullet-0"><span class="c9 c47 c8">&nbsp;Course Learning Outcomes Assessment</span></li>
</ol>
<p class="c1 c2"><span class="c34 c8"></span></p>
<p class="c1 c2"><span class="c34 c8"></span></p>
<p class="c1"><span class="c44 c8">Although they are only one component of course development, course learning outcomes ensure that instructors provide students with a basic learning framework for mastering the year-level and discipline-appropriate knowledge and skills specific to a course. In this section, review outcomes achievement at three levels: </span>
    <span
            class="c44">self-</span><span class="c44 c8">&nbsp;assessment, </span><span class="c44">CLO </span><span class="c3">assessment and PLO assessment (if applicable).</span></p>
<p class="c1 c2"><span class="c34 c8"></span></p>
<ol class="c20 lst-kix_list_10-0 start" start="9">
    <li class="c31 li-bullet-0"><span class="c0 c8">Self-Assessment</span></li>
</ol>
<p class="c1 c2"><span class="c24 c8"></span></p>
<p class="c1"><span class="c44 c8 c65">Click on the below link to reflect on your overall implementation of the learning framework and outcomes in instruction and coursework. Note that once the form is completed the IE office will upload the form into the CAR folder on your behalf.</span></p>
<p
        class="c6 c2"><span class="c3"></span></p>
<p class="c52" id="h.6sglb4gfcrtd"><span class="c0 c62"><a class="c82" href="https://www.google.com/url?q=https://rit.az1.qualtrics.com/jfe/form/SV_3V2l77VwI5sqJeK&amp;sa=D&amp;source=editors&amp;ust=1775165792755132&amp;usg=AOvVaw2QHpLLgaAutyr-ib0pbHn5">https://rit.az1.qualtrics.com/jfe/form/SV_3V2l77VwI5sqJeK</a></span></p>
<p
        class="c52 c2"><span class="c3"></span></p>
<p class="c1"><span class="c8 c9">ii. CLOs Assessment</span></p>
<p class="c1 c2"><span class="c24 c8"></span></p>
<p class="c1"><span class="c24 c8">All course learning outcomes (CLOs) are required to be assessed and evaluated in each assessment cycle for all programs. Direct assessment is expected of all CLOs. </span></p>
<p class="c1 c2"><span class="c24 c8"></span></p>
<p class="c1"><span class="c60 c8">Assessments at the course and program levels are related as improvements at the course level will lead to improvements at the program level. Therefore, benchmarks are used for any CLO </span><span class="c8 c57">direct</span>
    <span
            class="c8 c60">&nbsp;assessment to assess the Program Learning Outcomes (PLOs). Depending on your program assessment plan, one or more benchmarks can be used. You must complete section </span><span class="c60">III</span><span class="c24 c8">&nbsp;if this course is part of the PLOs assessment plan cycle.</span></p>
<p
        class="c1 c2"><span class="c24 c8"></span></p>
<p class="c1 c2"><span class="c24 c8"></span></p>
<p class="c1 c2"><span class="c3"></span></p>
<table class="c18">
    <tr class="c27">
        <td class="c29" colspan="4" rowspan="1">
            <p class="c6"><span class="c0 c8">Benchmark for Direct Assessment of CLOs: </span><span class="c0 c26">Example: </span><span class="c4">Average on Assignment &ge;75% and 90% of Students Receive a Grade of 60% or more on the Assignment</span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6"><span class="c0 c8">CLOs</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6"><span class="c0 c8">Assessment </span><span class="c0">Instrument </span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6"><span class="c0 c8">Student Performance against Benchmark </span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6"><span class="c0 c8">Result (Met, Partially met, Marginally Met, Not Met)</span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">CLO1</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">CLO2</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">CLO3</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">CLO4</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;CLO5</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">&nbsp;</span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">CLO6</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6 c2"><span class="c3"></span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6 c2"><span class="c3"></span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6 c2"><span class="c3"></span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6"><span class="c3">CLOx</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6 c2"><span class="c3"></span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6 c2"><span class="c3"></span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6 c2"><span class="c3"></span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6"><span class="c0 c26">Examples</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">&nbsp;</span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">&nbsp;</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">&nbsp;</span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6 c2"><span class="c4 c25"></span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6 c2"><span class="c4 c25"></span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6 c2"><span class="c4 c25"></span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6 c2"><span class="c4 c25"></span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">CLO2</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">Question 4 in the midterm </span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">Average 78%</span></p>
            <p class="c6"><span class="c4">Above 60%: 89%</span></p>
            <p class="c6 c2"><span class="c4"></span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">Partially met</span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">&hellip;</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">&nbsp;</span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">&nbsp;</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">&nbsp;</span></p>
        </td>
    </tr>
    <tr class="c27">
        <td class="c10" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">CLOx</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">Quiz 3 </span></p>
        </td>
        <td class="c46" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">Average 76%</span></p>
            <p class="c6"><span class="c4">Above 60%: 95%</span></p>
            <p class="c6 c2"><span class="c4"></span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
            <p class="c6"><span class="c4">Met</span></p>
        </td>
    </tr>
</table>
<p class="c1 c2"><span class="c3"></span></p>
<p class="c6"><span class="c60 c8">Reflections: </span><span class="c60 c26 c70 c83">(Is this good data? Do students&rsquo; assessments align with your overall impressions from section i? Is there a particular outcome that warrants direct attention?)</span></p>
<p
        class="c1 c2"><span class="c0 c8 c77"></span></p>
<ol class="c20 lst-kix_list_6-0" start="3">
    <li class="c17 li-bullet-0"><span class="c9 c47 c8">Program Learning Outcomes Assessment </span><span class="c26 c38">(Mandatory for all Graduate Program courses)</span></li>
</ol>
<ul class="c20 lst-kix_list_5-0 start">
    <li class="c32 li-bullet-0"><span class="c24 c26">Is your course a part of the PLO Assessment? &nbsp; Yes/No</span></li>
    <li class="c32 li-bullet-0"><span class="c24 c26">State the PLO(s) assessed: ___________________________</span></li>
    <li class="c32 li-bullet-0"><span class="c24 c26">State the assessment tool used for PLO Assessment: _______________</span></li>
</ul>
<p class="c1 c2"><span class="c24 c26"></span></p>
<p class="c1"><span class="c0 c8">Results and Reflection: </span><span class="c4">Describe briefly the assessment instruments that were used to assess each PLO. &nbsp;Provide some reflection regarding whether or not the benchmark was achieved and some potential areas of improvement that can be implemented in the next iteration if the benchmark was not achieved.</span></p>
<p
        class="c1 c2"><span class="c24 c8"></span></p>
<p class="c1"><span class="c9 c8">&nbsp;</span></p>
<ol class="c20 lst-kix_list_6-0" start="4">
    <li class="c17 li-bullet-0"><span class="c9 c47 c8">Grade Distribution</span></li>
</ol>
<p class="c1 c2"><span class="c8 c34"></span></p>
<table class="c18">
    <tr class="c30">
        <td class="c56 c81" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">GRADE</span></p>
        </td>
        <td class="c11" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">A</span></p>
        </td>
        <td class="c11" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">A-</span></p>
        </td>
        <td class="c11" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">B+</span></p>
        </td>
        <td class="c11" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">B</span></p>
        </td>
        <td class="c13" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">B-</span></p>
        </td>
        <td class="c13" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">C+</span></p>
        </td>
        <td class="c13" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">C</span></p>
        </td>
        <td class="c13" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">C-</span></p>
        </td>
        <td class="c13" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">D</span></p>
        </td>
        <td class="c13" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">F</span></p>
        </td>
        <td class="c13" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">I</span></p>
        </td>
        <td class="c51" colspan="1" rowspan="1">
            <p class="c1"><span class="c0 c8">W</span></p>
        </td>
    </tr>
    <tr class="c30">
        <td class="c56" colspan="1" rowspan="1">
            <p class="c1"><span class="c9 c63 c8">No. of Students</span></p>
        </td>
        <td class="c19" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c19" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c19" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c19" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c68" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
    </tr>
    <tr class="c30">
        <td class="c56" colspan="1" rowspan="1">
            <p class="c1"><span class="c9 c63 c8">Percentage of Students</span></p>
        </td>
        <td class="c19" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c19" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c19" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c19" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
        <td class="c68" colspan="1" rowspan="1">
            <p class="c1 c2"><span class="c3"></span></p>
        </td>
    </tr>
</table>
<p class="c1 c2"><span class="c3"></span></p>
<p class="c6 c2"><span class="c24 c8"></span></p>
<ol class="c20 lst-kix_list_6-0" start="5">
    <li class="c17 li-bullet-0"><span class="c9 c47 c8">Analysis Based on Earlier Data (based on sections I - IV)</span></li>
</ol>
<p class="c1"><span class="c4">Reflecting on course data&mdash;including CLOs direct assessment results, grade distribution, student evaluations, and your own observations about this iteration of the course and foregrounding performance indicators as these relate to CLOs and the assessments to which they are mapped (i.e. compare student responses to the survey with grade distribution on assessments mapped to each outcome)&mdash;please identify:</span></p>
<ol
        class="c20 lst-kix_list_7-0 start" start="1">
    <li class="c31 li-bullet-0"><span class="c4">impediments to student learning and noting in each case if the impediment is instructional, material, environmental, or systemic;</span></li>
    <li class="c31 li-bullet-0"><span class="c4">&nbsp;(if applicable) reflect on the innovation component assessment</span></li>
</ol>
<p class="c6 c2 c75"><span class="c43 c45 c8"></span></p>
<ol class="c20 lst-kix_list_6-0" start="6">
    <li class="c17 li-bullet-0"><span class="c9 c47 c8">Suggested Modifications for Enhanced Learning</span></li>
</ol>
<p class="c1 c2"><span class="c34 c8"></span></p>
<p class="c1"><span class="c4">Suggest the changes you will make in the next iteration of the course to address the impediments discussed in Section V. </span></p>
<p class="c1 c2"><span class="c24 c8"></span></p>
<ol class="c20 lst-kix_list_6-0" start="7">
    <li class="c17 li-bullet-0"><span class="c9 c8 c47">Innovation Assessment</span></li>
</ol>
<p class="c1"><span class="c4">If this course is part of the RIT Dubai Innovation Journey per the syllabus, then this section must be filled. It must include assessment results per the mapping outlined in the syllabus and some reflection from the faculty on the delivery and effectiveness of this delivery.</span></p>
<p
        class="c2 c58"><span class="c24 c8"></span></p>
<ol class="c20 lst-kix_list_6-0" start="8">
    <li class="c17 li-bullet-0"><span class="c9 c47 c8">&nbsp;AI Mapping Reflection</span></li>
</ol>
<p class="c1 c2"><span class="c34 c8"></span></p>
<ul class="c20 lst-kix_list_13-0 start">
    <li class="c66 li-bullet-1"><span class="c43 c0 c26 c25">Reflect on the integrity setup for this course</span><span class="c4 c25">&nbsp;(for example, if the setup for this course is to allow AI, did it go well, or would you like to recommend another setup.)</span></li>
</ul>
<p class="c2 c78"><span class="c4"></span></p>
<ul class="c20 lst-kix_list_13-0">
    <li class="c66 li-bullet-2"><span class="c0 c26 c25 c43">Reflect on the AI pedagogical setup for this course</span><span class="c4 c25">&nbsp;(for example, if the course is not set up to teach any AI technology, would you recommend teaching one in this course in the future? If it is set up to teach AI technology, reflect on how it went.)</span></li>
</ul>
<div>
    <p class="c73"><span class="c43 c63 c8 c64">R.I.T Dubai, Dubai Silicon Oasis, P.O. Box 341055, Dubai, UAE</span></p>
    <p class="c73"><span class="c43 c64 c63 c8">Tel. +971 4 501 5566, Fax +971 4 372 4285; email dubai@rit.edu; www.rit.edu/dubai</span></p>
</div>
</body>

