.reset-password-bg {
    background-image: url("/assets/forgot-password.png");
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}