.app-button {
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #198754;
  color: white;
  transition: background-color 0.2s ease-in-out;
  min-width: 150px;

  &:hover {
    background-color: #157347;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
